.header {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-decoration: underline;
  background-color: #f0f0f0;
  margin-bottom: 20px;
  padding: 10px;
}

.job-list {
  display: grid;
  place-items: center;
}
